:root {
  font-family: system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}

#app {
  display: grid;
  place-items: center;
  overflow: hidden;
}

#app canvas {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}
